<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админ-панель</title>
    <link rel="stylesheet" th:href="@{/styles/admin.css}" href="../static/styles/admin.css"/>
</head>
<body>
<div class="header">
    <div class="logo">
        <img th:src="@{/images/logo.png}">
        <p>Airline Tickets</p>
    </div>
    <nav>
        <a th:if="${isAdmin}" href="/admin" style="color: #fff; text-decoration: none; margin-right: 15px">Админ-панель</a>
        <a href="/index" style="color: #fff; text-decoration: none; margin-right: 15px;">Главная</a>
        <a href="/myTickets" style="color: #fff; text-decoration: none;">Профиль</a>
        <a href = "/logout" style="color: #fff; text-decoration: none; margin-left: 10px">Выйти</a>
    </nav>
</div>
<h1>Aдмин-панель</h1>

<!-- Раздел для авиакомпаний -->
<section>
    <h3>Добавить авиакомпанию</h3>
    <form th:action="@{/admin/airlines/add}" method="post">
        <input type="text" name="name" placeholder="Имя" required/>
        <input type="text" name="icaoCode" placeholder="ICAO код" required/>
        <button type="submit">Добавить авиакомпанию</button>
    </form>
    <h2>Авиакомпании</h2>
    <div th:each="airline : ${airlines}" class="airline">
        <p th:text="${airline.name} + ' (' + ${airline.icaoCode} + ')'"></p>
        <a th:href="@{/admin/airlines/delete/{id}(id=${airline.id})}">Удалить</a>
    </div>
</section>

<!-- Раздел для аэропортов -->
<section>
    <h3>Добавить аэропорт</h3>
    <form th:action="@{/admin/airports/add}" method="post">
        <input type="text" name="airportCode" placeholder="Код аэропорта" required/>
        <input type="text" name="airportName" placeholder="Имя аэропорта" required/>
        <input type="text" name="city" placeholder="Город" required/>
        <input type="text" name="country" placeholder="Страна" required/>
        <button type="submit">Добавить аэропорт</button>
    </form>
    <h2>Аэропорты</h2>
    <div th:each="airport : ${airports}" class="airport">
        <p th:text="${airport.airportName} + ', ' + ${airport.city} + ', ' + ${airport.country} + ' (' + ${airport.airportCode} + ')'"></p>
        <a th:href="@{/admin/airports/delete/{id}(id=${airport.id})}">Удалить</a>
    </div>
</section>

<!-- Раздел для рейсов -->
<section>
    <h3>Добавить полёт</h3>
    <form th:action="@{/admin/flights/add}" method="post">
        <input type="text" name="airlineId" placeholder="ID авиакомпании" required/>
        <input type="text" name="departureAirportId" placeholder="ID аэропорта отбытия" required/>
        <input type="text" name="arrivalAirportId" placeholder="ID аэропорта прибытия" required/>
        <input type="date" name="departureDate" required/>
        <input type="time" name="departureTime" required/>
        <input type="date" name="arrivalDate" required/>
        <input type="time" name="arrivalTime" required/>
        <button type="submit">Добавить полёт</button>
    </form>
    <h2>Полёты</h2>
    <div th:each="flight : ${flights}" class="flight">
        <p th:text="${flight.airline.name} + ' откуда: ' + ${flight.departureAirport.airportName} + ', куда: ' + ${flight.arrivalAirport.airportName} + ', Departure: ' + ${flight.departureDate} + ' ' + ${flight.departureTime} + ', Arrival: ' + ${flight.arrivalDate} + ' ' + ${flight.arrivalTime}"></p>
        <a th:href="@{/admin/flights/delete/{id}(id=${flight.id})}">Удалить</a>
    </div>
</section>
</body>
</html>
