@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Lato", sans-serif;
}

.plane {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cockpit {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    align-items: center;
}

.left{
    flex-grow: 4;
}

.header{
    display: flex;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seats {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.seat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.seat label {
    background-color: #F0F0F0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
    color:white;
}

.seat input[type="checkbox"] {
    display: none;
}

.seat input[type="checkbox"]:checked + label {
    background-color: #0b73fe;
}

.rows{
    display: flex;
    flex-direction: row;
}




.cross-checkbox + label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: transparent; /* Прячем текст внутри метки */
}

.cross-checkbox + label::before,
.cross-checkbox + label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    width: 20px;
    height: 2px;
    background-color: #333;
}

.cross-checkbox + label::before {
    transform: rotate(45deg); /* Поворачиваем на 45 градусов */
}

.cross-checkbox + label::after {
    transform: rotate(-45deg); /* Поворачиваем на -45 градусов */
}



.cross-checkbox {
    display: none; /* Скрываем сам чекбокс */
}

.main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ticket{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20%;

}

.book{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    border: 5px solid ghostwhite;
    width: 10rem;
    height: 23rem;
    margin-right: 10px;
    border-radius: 5px;
}

.book button{
    width: 10rem;
    height: 3rem;
    border: 0px;
    background-color: #fa742d;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(169, 168, 168);
    transition: background-color 0.2s linear;
}

.book button:hover{
    background-color:#fe5900;
}

#A1 + label, #B1 + label, #C1 + label, #D1 + label, #E1 + label, #F1 + label{
    background-color: #fe5900;
    opacity: 0.8;
}
